# Object files
*.o
*.d
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.axf
*.hex
*.bin

# Debug files
*.dSYM/
